* {
  /* outline: 1px dotted red; */
}

body {
  background-color: darkblue;
}

#weapon-and-ui {
  display: flex;
  justify-content: center;
}

#weaponInventory, #currentLocation{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  border: 5px solid black;
  background-color: lightgray;
}

#weaponInventory > button {
  margin: 0px auto 0px auto;
  border-radius: 10px;
  width: 100px
}

.currentWeaponText {
  background-color: lightgray;
  color: black;
  margin: 10px
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 700px;
  max-height: 400px;
  background-color: lightgrey;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: solid 1px;
  padding: 5px;
}

#player-stats {
  border: solid 1px;
  color: black;
  padding: 5px;
}

#monster-stats {
  display: none;
  border: solid 1px;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding: 10px;
}

#locationText {
  color: red;
  border: 1px solid red;
}

#resetButton {
  float: right;
  margin: 20px;
  font-size: large;
}
